body {
  --bgColor: #e2494c;
}

body {
  background: #f6f6f6;
  color: #303030;
  font-family: "Changa", sans-serif;
  font-size: 16px;
}

* {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  -ms-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

*::before, *::after {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  -ms-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

ul, ol {
  list-style: none;
  padding: 0;
}

section:not(:last-child) {
  margin-bottom: 100px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  padding: 0 1%;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1490px) {
  .container {
    max-width: 1300px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid .box, footer .grid > div, .lorem-ipsum .grid .lorem-box, .our-players .grid .player-box, .services .grid .service-box {
  width: 250px;
  flex-grow: 1;
  margin: 1em 0.5em;
}

section.slider {
  height: 850px;
  overflow: hidden;
  margin-top: 139px;
}
section.slider .active-img {
  height: 86%;
  background-image: url("../../../images/slider/1.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}
section.slider ul.bullets {
  text-align: center;
}
section.slider ul.bullets li {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: #c1c1c1;
  border: 2px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.5s;
}
section.slider ul.bullets li.active, section.slider ul.bullets li:hover {
  border-color: var(--bgColor);
  background-color: #f6f6f6;
}

.services .grid .service-box h3 {
  font-size: 30px;
}
.services .grid .service-box h3 i {
  font-size: 32px;
  margin: 0 10px;
}
.services .grid .service-box p {
  text-align: justify;
  line-height: 1.3;
}
.services .grid .service-box a {
  color: var(--bgColor);
  text-decoration: none;
}

.card, .lorem-ipsum .grid .lorem-box, .our-players .grid .player-box, .services .grid .service-box {
  border: 2px solid var(--bgColor);
  padding: 15px;
}

.our-players .grid .player-box .player-img {
  width: fit-content;
  margin: auto;
}
.our-players .grid .player-box .player-img img {
  width: 100%;
  max-width: 200px;
  margin-top: 30px;
}
.our-players .grid .player-box h3 {
  font-weight: 400;
  text-align: center;
}
.our-players .grid .player-box h3 span {
  font-weight: 600;
}
.our-players .grid .player-box p {
  text-align: justify;
  line-height: 1.3;
}
.our-players .grid .player-box a {
  color: var(--bgColor);
  text-decoration: none;
}

.lorem-ipsum .grid .lorem-box img {
  max-width: 100%;
}

.theme-button, .langswitcher .lang-button {
  display: flex;
  position: fixed;
  top: 50vh;
  right: 2vw;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  font-size: larger;
  background: var(--bgColor);
  color: #f6f6f6;
  border: 2px solid #f6f6f6;
}
.theme-button:hover, .langswitcher .lang-button:hover {
  background: #f6f6f6;
  color: var(--bgColor);
  border-color: var(--bgColor);
}

.colors {
  -webkit-transition: color 0.35s;
  -moz-transition: color 0.35s;
  -o-transition: color 0.35s;
  -ms-transition: color 0.35s;
  transition: color 0.35s;
  -webkit-transition: border-color 0.35s;
  -moz-transition: border-color 0.35s;
  -o-transition: border-color 0.35s;
  -ms-transition: border-color 0.35s;
  transition: border-color 0.35s;
  -webkit-transition: background-color 0.35s;
  -moz-transition: background-color 0.35s;
  -o-transition: background-color 0.35s;
  -ms-transition: background-color 0.35s;
  transition: background-color 0.35s;
  display: none;
  position: fixed;
  top: calc(50vh - 10px);
  right: calc(60px + 2vw);
  padding: 10px;
  background: #f6f6f6;
  border: 2px solid var(--bgColor);
}
.colors::before {
  content: "";
  position: absolute;
  right: -22px;
  top: -2px;
  border: 10px solid transparent;
}
.colors.off::before {
  border-left-color: var(--bgColor);
}
.colors.on::before {
  border-left-color: var(--bgColor);
}
.colors .color {
  width: 40px;
  height: 40px;
  border: 1px solid #f6f6f6;
  cursor: pointer;
}
.colors .color.color1 {
  background-color: #e2494c;
}
.colors .color.color2 {
  background-color: #1B1464;
}
.colors .color.color3 {
  background-color: #6F1E51;
}
.colors .color.color4 {
  background-color: #006266;
}
.colors .color:not(:last-child) {
  margin-bottom: 10px;
}

.langswitcher {
  position: fixed;
  bottom: 2vh;
  left: 2vw;
}
.langswitcher .lang-button {
  position: static;
  top: auto;
  right: auto;
  width: fit-content;
  transform: none;
}
.langswitcher .lang-button i {
  margin-left: 15px;
}
.langswitcher .langlist {
  display: none;
  background-color: #f6f6f6;
  border: 2px solid var(--bgColor);
  border-bottom: none;
}
.langswitcher .langlist .lang {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 20px 25px;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.langswitcher .langlist .lang:not(:last-child) {
  border-bottom: 1px solid var(--bgColor);
}
.langswitcher .langlist .lang:not(:first-child) {
  border-top: 1px solid var(--bgColor);
}
.langswitcher .langlist .lang:hover {
  background-color: var(--bgColor);
  color: #f6f6f6;
}

@media (max-width: 991px) {
  header.notm nav {
    display: none !important;
  }
}

header.header {
  z-index: 1;
  width: 100%;
}
header.header .container {
  display: flex;
  justify-content: space-between;
}
header.header #mobile-button {
  display: none;
}
@media (max-width: 991px) {
  header.header #mobile-button {
    display: flex;
  }
}
header.header .logo {
  margin-right: max(8vw, 20px);
}
header.header .logo p, header.header .logo h1 {
  margin: 0;
}
header.header .logo h1 {
  font-weight: 700;
  font-size: 2.2em;
}
header.header .logo p {
  font-weight: 300;
}
header.header nav.navbar {
  width: -webkit-fill-available;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
header.header nav.navbar li {
  width: -webkit-fill-available;
}
header.header nav.navbar li a {
  font-weight: 500;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}

header.fixedheader {
  position: fixed;
  top: -90px;
  padding: 10px 0;
  border-bottom: 2px solid #f6f6f6;
  background: var(--bgColor);
  color: #f6f6f6;
  font-size: smaller;
}
header.fixedheader #mobile-button {
  padding: 0 18.29px;
  background-color: #f6f6f6;
  color: #303030;
}
header.fixedheader #mobile-button:hover {
  background: var(--bgColor);
  color: #f6f6f6;
}
header.fixedheader nav {
  background: #f6f6f6;
}
header.fixedheader nav li a {
  color: #303030;
}
header.fixedheader nav li a:hover {
  background: var(--bgColor);
  color: #f6f6f6;
}

header.topheader {
  position: absolute;
  top: 0;
  padding: 40px 0;
  border-bottom: 1px solid #c1c1c1;
  background: transparent;
  color: #303030;
}
header.topheader #mobile-button {
  padding: 0 22.15px;
  background-color: var(--bgColor);
  color: #f6f6f6;
}
header.topheader #mobile-button:hover {
  background: #f6f6f6;
  color: #303030;
}
header.topheader nav {
  background: var(--bgColor);
}
header.topheader nav li a {
  color: #f6f6f6;
}
header.topheader nav li a:hover {
  background: #f6f6f6;
  color: #303030;
}

header.mobile {
  display: none;
  position: fixed;
  width: 35%;
  min-width: 300px;
  background: #f6f6f6;
  flex-direction: column;
  top: 0;
  height: 100%;
  z-index: 5;
  left: min(-35%, -300px);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 991px) {
  header.mobile {
    display: flex;
  }
}
header.mobile .logo {
  margin: 0 !important;
  width: auto;
  padding: 50px 0;
  text-align: center;
}
header.mobile nav.navbar {
  flex-grow: 0.8;
  width: 75%;
  align-self: center;
  flex-direction: column;
  justify-content: space-around;
  background: var(--bgColor);
  font-size: larger;
}
header.mobile nav.navbar li {
  height: 100%;
}
header.mobile nav.navbar li a {
  color: #f6f6f6;
}
header.mobile nav.navbar li a:hover {
  background: #f6f6f6;
  color: #303030;
}

#mobile-overlay {
  display: none;
  z-index: 4;
  position: fixed;
  background: rgba(48, 48, 48, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
}
@media (min-width: 992px) {
  #mobile-overlay {
    display: none !important;
  }
}

.main-button, .langswitcher .lang-button {
  background-color: var(--bgColor);
  color: #f6f6f6;
  border: 2px solid var(--bgColor);
  padding: 10px 25px;
  cursor: pointer;
  line-height: 1;
  font-size: 25px;
  font-weight: 600;
  transition: all 0.5s;
}
.main-button:hover, .langswitcher .lang-button:hover {
  background-color: #f6f6f6;
  color: var(--bgColor);
}

.icon-button, header.header #mobile-button {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}

.head-with-border {
  position: relative;
  margin-bottom: 50px;
}
.head-with-border h2 {
  background-color: var(--bgColor);
  text-align: center;
  width: 300px;
  max-width: 80vw;
  margin: 0 auto;
  color: #f6f6f6;
  padding: 10px 15px;
  line-height: 1;
}
@media (max-width: 575px) {
  .head-with-border h2 {
    max-width: -webkit-fill-available;
  }
}
.head-with-border h2::before, .head-with-border h2::after {
  content: "";
  width: 56px;
  transform: translateY(-50%);
  height: 100%;
  background: var(--bgColor);
  position: absolute;
  top: 50%;
}
@media (max-width: 575px) {
  .head-with-border h2::before, .head-with-border h2::after {
    display: none;
  }
}
.head-with-border h2::before {
  left: calc(50% - 205px);
  clip-path: polygon(95% 0%, 100% 0%, 100% 100%, 95% 100%, 25% 25%, 0 50%, 25% 75%);
}
.head-with-border h2::after {
  right: calc(50% - 205px);
  clip-path: polygon(5% 0%, 0% 0%, 0% 100%, 5% 100%, 75% 25%, 100% 50%, 75% 75%);
}

.title, .centred-title {
  font-size: 1.8em;
  font-weight: 600;
}

.centred-title {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centred-title::after {
  content: "";
  height: 2px;
  width: 80px;
  background: var(--bgColor);
}

footer {
  background-color: #c1c1c1;
}
footer .gallery {
  flex-grow: 4 !important;
}
footer .gallery .title.section-title, footer .gallery .section-title.centred-title {
  margin-left: 5px;
  margin-right: 5px;
}
footer .gallery .img-box {
  display: flex;
  flex-wrap: wrap;
}
footer .gallery .img-box:not(:last-child) {
  margin-bottom: 20px;
}
footer .gallery .img-box img {
  width: 20%;
  min-width: 90px;
  border: 2px solid #303030;
  padding: 3px;
  margin: 0 5px;
}
footer .gallery .img-box .description {
  flex-grow: 1;
  align-self: center;
  margin: 0 5px;
  min-width: 220px;
  width: calc(80% - 20px);
}
footer .gallery .img-box .description > * {
  margin: 5px 0;
}
footer .gallery .img-box .description h4 {
  color: var(--bgColor);
  font-weight: 400;
  font-size: 20px;
}
footer .gallery .img-box .description p {
  color: #303030;
  font-weight: 300;
  font-size: 18px;
}
footer .info {
  flex-grow: 0 !important;
  font-weight: 300;
}
footer .info > *:not(h3) {
  margin: 10px 0;
  color: #303030;
}
footer .info ul li a {
  color: var(--bgColor);
  text-decoration: none;
}
footer .contact {
  flex-grow: 2 !important;
}
footer .contact form {
  display: flex;
  flex-direction: column;
}
footer .contact form > *:not(:last-child) {
  padding: 5px 8px;
  margin-bottom: 15px;
  border: 1px solid #c1c1c1;
  transition: all 0.4s;
}
footer .contact form > *:not(:last-child):focus {
  outline: none;
  border: 1px solid #303030;
}
footer .contact form > :last-child {
  align-self: start;
}
footer .contact form textarea {
  resize: none;
}
footer .copyright {
  padding: 60px 0 30px;
  display: flex;
  justify-content: space-around;
  color: #303030;
  position: relative;
  flex-wrap: wrap;
}
footer .copyright::before {
  content: "";
  position: absolute;
  height: 1px;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
  width: 100%;
  top: 0;
  margin: 29px 0;
  background: #4a4a4a;
}
footer .copyright .author a {
  color: var(--bgColor);
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
