// Max value media query
$MaxSmall: "(max-width: 575px)";
$MaxMedium: "(max-width: 767px)";
$MaxLarge: "(max-width: 991px)";
$MaxExtraLarge: "(max-width: 1199px)";

// Min value media query
$MinSmall: "(min-width: 576px)";
$MinMedium: "(min-width: 768px)";
$MinLarge: "(min-width: 992px)";
$MinExtraLarge: "(min-width: 1490px)";

// Color Variables
$colorList: #e2494c, #1B1464, #6F1E51, #006266;


$grayColor: #c1c1c1;
$whiteColor: #f6f6f6;
$grayColor2: mix($grayColor, black, 25%);



body{
    &.red{
        --bgColor: #e2494c; 
    }
    &.blue{
        --bgColor: #1B1464;
    }
    &.purple{
        --bgColor: #6F1E51;
    }
    &.green{
        --bgColor: #006266;
    }
}


$redColor: var(--bgColor);