*{
    @include prefixer(box-sizing, border-box);
}
.container{
    width: 80%;
    margin: auto;
    padding: 0 1%;
    @media #{$MinSmall} {
        max-width: 540px;
    }
    @media #{$MinMedium} {
        max-width: 720px;
    }
    @media #{$MinLarge} {
        max-width: 960px;
    }
    @media #{$MinExtraLarge} {
        max-width: 1180px;
    }
    
}

.grid{
    // $minwidth: 200px;
    // display: grid;
    // gap: 2em;
    // grid-template-columns: repeat(auto-fit, minmax($minwidth, 1fr));
    // justify-content: center;
    // align-items: center;
    // 
    // @media screen and (min-width: $min) and (max-width: $max){
    //     .grid-child:last-child{
    //         grid-column: span 2 / auto;
    //     }
    // }
    display: flex;
    flex-wrap: wrap;
    .box{
        width: 250px;
        flex-grow: 1;
        margin: 1em 0.5em;
        // &:not(:last-child){
            // margin-right: 1em;
            // margin-bottom: 2em;
        // }
    }
}