header.header{
    padding: 40px 0;
    border-bottom: 1px solid $grayColor;
    .container{
        display: flex;
    }
    .logo{
        width: 30%;
        %zeromagin{
            margin: 0;
        }
        h1{
            @extend %zeromagin;
            font-weight: 700;
            font-size: 2.2em;
        }
        p{
            @extend %zeromagin;
            font-weight: 300;
        }
    }
    nav.navbar{
        width: 70%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        background: $redColor;
        li{
            width: -webkit-fill-available;
            a{
                color: $whiteColor;
                font-weight: 500;
                text-decoration: none;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                @include prefixer(transition, all .35s);
                &:hover{
                    background: $whiteColor;
                    color: $grayColor2;
                }
            }
        }
    }
}