body{
    background: $whiteColor;
    color: $grayColor2;
    font:{
        // family:'Sen', sans-serif;
        family:'Changa', sans-serif;
        size: 16px;
    }
}

ul, ol{
    list-style: none;
    padding: 0;
}
// Start Framework


section:not(:last-child){
    margin-bottom: 100px;
}



// End Framework