body{
    background: $whiteColor;
    color: $grayColor2;
    font:{
        // family:'Sen', sans-serif;
        family:'Changa', sans-serif;
        size: 16px;
    }
}
*{
    @include prefixer(transition, background-color .5s);
    @include prefixer(transition, border-color .5s);
}
*::before, *::after{
    @include prefixer(transition, background-color .5s);
    @include prefixer(transition, border-color .5s);
}

ul, ol{
    list-style: none;
    padding: 0;
}
// Start Framework


section:not(:last-child){
    margin-bottom: 100px;
}



// End Framework