body{
    background: $whiteColor;
    font:{
        // family:'Sen', sans-serif;
        family:'Teko', sans-serif;
        size: 20px;
    }
}

ul, ol{
    list-style: none;
    padding: 0;
}
// Start Framework
.title{
    font-size: 1.8em;
    font-weight: 600;
}

.centred-title{
    @extend .title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::after{
        content: "";
        height: 2px;
        width: 80px;
        background: $redColor;
    }
}

section:not(:last-child){
    margin-bottom: 100px;
}



// End Framework